{% extends "home/header.html" %}

	{% block content %}
	<style>
	.menu {
	  float:left;
	  width:20%;
	  text-align:center;
	}
	.menu a {
	  background-color:#e5e5e5;
	  padding:10px;
	  margin-top:7px;
	  display:block;
	  width:100%;
	  color:black;
	}
	.main {
	  float:left;
	  width:60%;
	  padding:0 20px;
	}
	

	</style>
	
	<body style="font-family:Verdana;color:#aaaaaa;">

	<div style="background-color:#e5e5e5;padding:10px;text-align:justify;">
	  <h1><img src = "https://i.ibb.co/CPHMSHz/bg.jpg" style="width:100%"></h1>
	</div>

	<div style="overflow:auto">
	  <div class="menu">
	    <a href="/about">Order</a>
	    <a href="#">Home</a>
	    <a href="/login">Login</a>
	    
	  </div>

	  <div class="main">
	    <h2>BereaFeed</h2>
	    <p>Providing students a way to order food from Tres Habaneros. <b>Website underconstruction....</b></p>
	  </div>
	  	<h1><img src="https://i.ibb.co/gwJhw3s/1.jpg" style = "width: 100%"></h1>
	  <div class="left">
	    <h2>About</h2>
	    <p>Pick up your dish from Tres habaneros. Explore the different Option the cafe provides and their special item in special days. Getting food made easier for students </p>
	  </div>
	</div>

	<div style="background-color:#e5e5e5;text-align:center;padding:10px;margin-top:7px;">© copyright Berea College</div>

</body>
	


{% endblock %}



