  <nav>
    <div class="nav-wrapper" style = "background-color: #3CC6E8">
      <a href="/" class="brand-logo">BereaFeed</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

        {% if user.is_authenticated%}
	      <li><a href="/account">{{user.username}}</a></li>
	      <li><a href="/Logout">Log-Out</a></li>
        {%else%}
       	  <li><a href="/register">Register</a></li>
          <li><a href="/Login">Log-In</a></li>
        {%endif%}
